<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zucc.gats.trinity.mapper.CollegeMapper">

    <insert id="addCollege" parameterType="edu.zucc.gats.trinity.bean.College">
        insert into college(college_name,province,city,content)
        value (#{collegeName},#{province},#{city},#{content})
    </insert>

    <delete id="deleteCollege" parameterType="edu.zucc.gats.trinity.bean.College">
        delete from college where college_id = #{collegeId}
    </delete>

    <update id="updateCollege"
            parameterType="edu.zucc.gats.trinity.bean.College">
        update college set
        college_name = #{collegeName},
        province = #{province},
        city = #{city},
        content = #{content}
        where college_id = #{collegeId}
    </update>

    <select id="loadCollegeByName" parameterType="String"
            resultType="edu.zucc.gats.trinity.bean.College">
        select * from college where college_name = #{colName}
    </select>

    <select id="loadCollegeById" parameterType="int"
            resultType="edu.zucc.gats.trinity.bean.College">
        select * from college where college_id = #{colId}
    </select>

    <select id="searchCollegeByKey"
            resultMap="getColAndApply">
        select
            c.college_id,
            c.college_name,
            c.city,
            c.province,
            c.content,
            a.apply_info_id,
            a.apply_condition,
            a.apply_way,
            a.apply_begin,
            a.apply_finish
        from college c,apply_info a
        where c.college_id = a.college_id
          and c.college_name like CONCAT(CONCAT('%', #{key}, '%'))
    </select>

    <select id="loadAllCollegeByPage"
            resultType="edu.zucc.gats.trinity.bean.College">
        select * from college limit #{begin},#{offset}
    </select>

    <select id="loadAllCollegeAndApply"
            resultMap="getColAndApply">
        select
            c.college_id,
            c.college_name,
            c.city,
            c.province,
            c.content,
            a.apply_info_id,
            a.apply_condition,
            a.apply_way,
            a.apply_begin,
            a.apply_finish
        from college c,apply_info a
        where c.college_id = a.college_id
    </select>
    
    <resultMap id="getColAndApply" type="edu.zucc.gats.trinity.bean.College">
        <id property="collegeId" column="college_id"/>
        <result property="collegeName" column="college_name"/>
        <result property="city" column="city"/>
        <result property="province" column="province"/>
        <result property="content" column="content"/>
        <association property="applyInfo" javaType="edu.zucc.gats.trinity.bean.ApplyInfo">
            <id property="applyInfoId" column="apply_info_id"/>
            <result property="applyCondition" column="apply_condition"/>
            <result property="applyWay" column="apply_way"/>
            <result property="applyBegin" column="apply_begin"/>
            <result property="applyFinish" column="apply_finish"/>
        </association>
    </resultMap>

</mapper>