<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zucc.gats.trinity.mapper.RecommandMapper">
    <insert id="addNewReco"
            parameterType="edu.zucc.gats.trinity.bean.Recommand">
        insert into recommand(student_id,domain_id,reason)
        value (#{studentId},#{domainId},#{reason})
    </insert>

    <update id="updateReco"
            parameterType="edu.zucc.gats.trinity.bean.Recommand">
        update recommand set
                             reason = #{reason}
        where student_id = #{studentId} and domain_id = #{domainId}
    </update>

    <delete id="deleteReco"
            parameterType="edu.zucc.gats.trinity.bean.Recommand">
        delete from recommand where student_id = #{studentId} and domain_id = #{domainId}
    </delete>

    <select id="loadAllRecoByStuId"
            parameterType="String"
            resultType="edu.zucc.gats.trinity.bean.Recommand">
        select * from recommand where student_id = #{studentId}
    </select>


    <select id="searchAllMessageFromRecByKey"
            resultMap="getAllMsgByRec">
        SELECT
            r.student_id,
            r.domain_id,
            r.reason,
            d.domain_name,
            d.domain_type,
            d.content,
            d.college_id,
            e.number,
            e.price,
            e.subject_req,

            c.college_name,
            c.province,
            c.city,
            c.content,
            a.apply_info_id,
            a.apply_condition,
            a.apply_way,
            a.apply_begin,
            a.apply_finish
        from
            recommand r,
            college c,
            domain d,
            enroll e,
            apply_info a
        where r.student_id = #{studentId}
          and r.domain_id = d.domain_id
          and d.domain_id = e.domain_id
          and d.college_id = c.college_id
          and a.college_id = d.college_id
          and d.domain_name like CONCAT(CONCAT('%', #{key}, '%'))
    </select>


    <select id="loadAllMessageFromRec"
            resultMap="getAllMsgByRec">
        SELECT
            r.student_id,
            r.domain_id,
            r.reason,
            d.domain_name,
            d.domain_type,
            d.content,
            d.college_id,
            e.number,
            e.price,
            e.subject_req,

            c.college_name,
            c.province,
            c.city,
            c.content,
            a.apply_info_id,
            a.apply_condition,
            a.apply_way,
            a.apply_begin,
            a.apply_finish
        from
            recommand r,
            college c,
            domain d,
            enroll e,
            apply_info a
        where r.student_id = #{studentId}
          and r.domain_id = d.domain_id
          and d.domain_id = e.domain_id
          and d.college_id = c.college_id
          and a.college_id = d.college_id
    </select>

    <resultMap id="getAllMsgByRec" type="edu.zucc.gats.trinity.bean.Recommand">
        <id property="studentId" column="student_id"/>
        <id property="domainId" column="domain_id"/>
        <result property="studentId" column="student_id"/>
        <result property="reason" column="reason"/>
        <result property="domainName" column="domain_name"/>
        <result property="domainType" column="domain_type"/>
        <result property="domainContent" column="content"/>
        <result property="number" column="number"/>
        <result property="price" column="price"/>
        <result property="subjectReq" column="subject_req"/>
        <association property="college" javaType="edu.zucc.gats.trinity.bean.College">
            <id property="collegeId" column="college_id"/>
            <result property="collegeName" column="college_name"/>
            <result property="city" column="city"/>
            <result property="province" column="province"/>
            <result property="content" column="content1"/>
            <association property="applyInfo" javaType="edu.zucc.gats.trinity.bean.ApplyInfo">
                <id property="applyInfoId" column="apply_info_id"/>
                <result property="applyCondition" column="apply_condition"/>
                <result property="applyWay" column="apply_way"/>
                <result property="applyBegin" column="apply_begin"/>
                <result property="applyFinish" column="apply_finish"/>
            </association>
        </association>
    </resultMap>

    <select id="loadSubjectReq"
            parameterType="int"
            resultType="edu.zucc.gats.trinity.bean.EnrollReq">
        SELECT e.domain_id,e.subject_req
        from college c,domain d,enroll e
        where c.college_id = #{collegeId}
          and c.college_id = d.college_id
          and d.domain_id = e.domain_id
    </select>

    <select id="loadRecByStuIdAndDomainId"
            resultType="edu.zucc.gats.trinity.bean.Recommand">
        select student_id,domain_id,reason
        from recommand where student_id = #{studentId} AND domain_id = #{domainId}
    </select>
</mapper>
